body {
  background-color: lightblue;
}

.drawing-area {
  position: absolute;
  top: 60px;
  left: 122px;
  z-index: 10;
  width: 200px;
  height: 400px;
}

.canvas-container {
  width: 200px;
  height: 400px;
  left: -13px;
  position: relative;
  user-select: none;
}

#tshirt-div {
  margin-top: 50px;
  width: 390px;
  height: 500px;
  position: relative;
  background-color: #fff;
}

#canvas {
  position: relative;
  width: 200px;
  height: 400px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}
